---
import type { CollectionEntry } from "astro:content";

interface Props {
    book: CollectionEntry<"books">;
}

const { book } = Astro.props;
---

<div class="book-card">
    <p class="book-title">{book.data.title}, {book.data.rating}/10</p>
    <p class="book-author">by {book.data.author}</p>
    <p class="book-summary">{book.data.summary}</p>
    <a href={`/books/${book.id}`}>Read Review</a>
</div>

<style>
    .book-card {
        background-color: #f9f6fc;
        padding: 16px 20px;
        margin: 20px auto;
        box-shadow: 8px 8px 0 #ebe5f2;
    }
    .book-title {
        font-size: 1.4em;
        font-weight: bold;
        margin: 0;
    }
    .book-author {
        margin-top: 0;
    }
    .book-summary {
        font-size: 1em;
    }
</style>
